<% provide(:title, 'Log In') %>
<div class='contain pad2 prose'>
  <%= form_for(:session, url: sessions_path, class: 'space-bottom') do |f| %>
    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'stretch' %>
    </fieldset>
    <%= f.submit 'Log In', class: 'btn btn-block btn-primary' %>
  <% end %>
  <hr />
  <p class='quiet center'>
    Don't have an account? <%= link_to 'Sign up', signup_path %>
  </p>
</div>