<!-- <header class='fill-denim dark center pad2y'>
  <h1>Leaders</h1>
  <p class='quiet'>2014</p>
</header>
 -->


<div class='box round pad2 clearfix contain fill-white'>
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <strong class='inline pull-right quiet pad1y'>2,764</strong>
  <h4>Wun Yin</h4>    
  <p class='small quiet'>55 wins / 0 losses</p>    
</div>

<div class='box round pad2 clearfix contain fill-white'>
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <strong class='inline pull-right quiet pad1y'>2,764</strong>
  <h4>Wun Yin</h4>    
  <p class='small quiet'>55 wins / 0 losses</p>    
</div>

<div class='box round pad2 clearfix contain fill-white'>
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <strong class='inline pull-right quiet pad1y'>2,764</strong>
  <h4>Wun Yin</h4>    
  <p class='small quiet'>55 wins / 0 losses</p>    
</div>

<div class='box round pad2 clearfix contain fill-white'>
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <strong class='inline pull-right quiet pad1y'>2,764</strong>
  <h4>Wun Yin</h4>    
  <p class='small quiet'>55 wins / 0 losses</p>    
</div>

<div class='box round pad2 clearfix contain fill-white'>
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <strong class='inline pull-right quiet pad1y'>2,764</strong>
  <h4>Wun Yin</h4>    
  <p class='small quiet'>55 wins / 0 losses</p>    
</div>

<div class='box round pad2 clearfix contain fill-white'>
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <strong class='inline pull-right quiet pad1y'>2,764</strong>
  <h4>Wun Yin</h4>    
  <p class='small quiet'>55 wins / 0 losses</p>    
</div>
