<% provide(:title, 'Account') %>
<div class='contain pad2 prose fill-light'>
  <h2 class='space-bottom'>Edit Account</h2>  
  <%= form_for(@user, class: 'space-bottom') do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <fieldset>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <%= f.password_field :password_confirmation, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <label>Avatar</label>
      <% if @user.avatar_url.present? %>
        <%= image_tag @user.avatar_url, class: 'img-circle graphic-sm space-bottom1' %>
      <% else %>
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails">change</a>
      <% end %>
    </fieldset>        
    
    <%= f.submit 'Save changes', class: 'btn btn-block btn-primary space-bottom' %>
  <% end %>
</div>