<% provide(:title, 'Leaders') %>

<div class='box round contain fill-white pad2'>
  <h4>Leaders</h4>
  <small class='pad1y quiet'>
    Bacon ipsum dolor amet short ribs <a href='#fakelink'>ribeye hamburger</a>.
  </small>
  <fieldset class='with-icon quiet space-bottom'>
    <span class='icon icon-search'></span>
    <input type='text' class='flat stretch' placeholder='Filter'>
    <small class='pin-right quiet pad1r'>
      <div class='rounded-toggle inline'>
        <input id='rank' type='radio' name='sort' value='rank' checked='checked'>
        <label for='rank' class='animate'>rank</label>
        <input id='name' type='radio' name='sort' value='name'>
        <label for='name' class='animate'>name</label>
      </div>
    </small>
  </fieldset>
  <hr />

  <% @users.each_with_index do |player, index| %>
    <%= link_to user_path(player), class: 'clickable block contain fill-gray space-bottom1 row3' do %>
      <span class='pin-topleft fill-darken1 dark pad2y pad1x'>
        <%= index + 1 %>
      </span>
      <div class='pad1y pad4x contain player-media'>
        <%= image_tag cycle_avatar(index), class: 'pull-left img-circle pin-top' %>
        <%= player_name(player) %>
        <span class='block small quiet hidden-xs'>
          2,764 points · <%= player.win_count %> wins · <%= player.loss_count %> losses
        </span>
        <span class='block small quiet visible-xs'>
          2,764 points · <%= player.win_count %> - <%= player.loss_count %> record
        </span>
      </div>
    <% end %>  
  <% end %>

</div>