<% provide(:title, 'Sign up') %>
<div class='contain pad2 prose'>
  <%= form_for(@user, class: 'space-bottom') do |f| %>
    <fieldset>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'stretch' %>
    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'stretch' %>
    </fieldset>
    <%= f.submit 'Sign up', class: 'btn btn-block btn-primary' %>
  <% end %>
  <hr />
  <p class='quiet center'>
    Already a Paddle member? <%= link_to 'Log in', signin_path %>
  </p>
</div>