<% provide(:title, @user.name) %>
<div class='box round fill-white'>
  <header class='pad4y center fill-turquoise dark profile'>
    <%= image_tag @user.avatar_url, class: 'img-circle space-bottom1', width: 125 %>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p class='quiet'>
      <%= @user.nickname %>
    </p>
    <% if current_user?(@user) %>
      <%= link_to edit_user_path(@user), class: 'btn btn-inverse' do %>
        <i class='icon icon-edit pad0r'></i>Edit profile
      <% end %>
    <% else %>
      <%= link_to 'Play', new_match_path(user_id: @user.id), class: 'btn btn-inverse' %>
    <% end %>
  </header>
  <div class='pad1y fill-gray keyline-top keyline-bottom clearfix stats small'>
    <div class='col-xs-4 pad0y center keyline-right'>
      <span class='fill-darken1 img-circle dark inline'>
        <%= number_with_delimiter @user.points %>
      </span>
      <span class='block'>points</span>
    </div>
    <div class='col-xs-4 pad0y center keyline-right'>
      <span class='fill-darken1 img-circle dark inline'>
        <%= @user.rank %>
      </span>
      <span class='block'>ranking</span>
    </div>
    <div class='col-xs-4 pad0y center'>
      <span class='fill-darken1 img-circle dark inline'>
        <%= @user.win_count %> - <%= @user.loss_count %>
      </span>
      <span class='block'>record</span>
    </div>
  </div>

  <div class='pad2'>
    <small class='pad1y quiet center'>
      Bacon ipsum dolor amet short ribs <a href='#fakelink'>ribeye hamburger</a>.
    </small>
    
    <hr />

    <% @user.matches.recent.each do |match| %>
      <%= render partial: 'matches/match', locals: { match: match, user: @user, opponent: match.opponent(@user) } %>
    <% end %>
  </div>
</div>