<% provide(:title, @user.full_name) %>
<div class='box round fill-white'>
  <header class='pad4y center fill-turquoise dark profile'>
    <%= image_tag default_avatar(@user.rank - 1), class: 'img-circle space-bottom1', width: 125 %>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p class='quiet'>
      <%= @user.nickname %>
    </p>
    <% unless current_user == @user %>
      <%= link_to 'Play', new_match_path(user_id: @user.id), class: 'btn btn-inverse' %>
    <% end %>    
  </header>
  <div class='pad1y fill-gray keyline-top keyline-bottom clearfix stats small'>
    <div class='col-xs-4 pad0y center keyline-right'>
      <span class='fill-darken1 img-circle dark inline'>
        <%= number_with_delimiter @user.points %>
      </span>
      <span class='block'>points</span>
    </div>
    <div class='col-xs-4 pad0y center keyline-right'>
      <span class='fill-darken1 img-circle dark inline'>
        <%= @user.rank %>
      </span>
      <span class='block'>ranking</span>
    </div>
    <div class='col-xs-4 pad0y center'>
      <span class='fill-darken1 img-circle dark inline'>
        <%= @user.win_count %> - <%= @user.loss_count %>
      </span>
      <span class='block'>record</span>
    </div>
  </div>

  <div class='pad2'>
    <small class='pad1y quiet center'>
      Bacon ipsum dolor amet short ribs <a href='#fakelink'>ribeye hamburger</a>.
    </small>
    
    <hr />

    <div class='contain fill-gray space-bottom1 row3'>
      <span class='pin-topleft fill-darken1 dark pad2y pad1x'>
        1
      </span>
      <div class='pad1y pad4x pad1r contain player-media'>
        <%= image_tag 'adventuretime.jpg', class: 'pull-left img-circle pin-top' %>
        Wun 'The Master' Yin
        <span class='block small quiet'>
          10 wins - 5 losses
        </span>
      </div>
    </div>

    <div class='contain fill-gray space-bottom1 row3'>
      <span class='pin-topleft fill-darken1 dark pad2y pad1x'>
        2
      </span>
      <div class='pad1y pad4x pad1r contain player-media'>
        <%= image_tag 'batman.jpg', class: 'pull-left img-circle pin-top' %>
        Wun 'The Master' Yin
        <span class='block small quiet'>
          10 wins - 5 losses
        </span>
      </div>
    </div>

    <div class='contain fill-gray space-bottom1 row3'>
      <span class='pin-topleft fill-darken1 dark pad2y pad1x'>
        3
      </span>
      <div class='pad1y pad4x pad1r contain player-media'>
        <%= image_tag 'cyberchase.png', class: 'pull-left img-circle pin-top' %>
        Wun 'The Master' Yin
        <span class='block small quiet'>
          10 wins - 5 losses
        </span>
      </div>
    </div>

    <div class='contain fill-gray space-bottom1 row3'>
      <span class='pin-topleft fill-darken1 dark pad2y pad1x'>
        4
      </span>
      <div class='pad1y pad4x pad1r contain player-media'>
        <%= image_tag 'gumball.jpg', class: 'pull-left img-circle pin-top' %>
        Wun 'The Master' Yin
        <span class='block small quiet'>
          10 wins - 5 losses
        </span>
      </div>
    </div>

    <div class='contain fill-gray space-bottom1 row3'>
      <span class='pin-topleft fill-darken1 dark pad2y pad1x'>
        5
      </span>
      <div class='pad1y pad4x pad1r contain player-media'>
        <%= image_tag 'fusionfall.jpg', class: 'pull-left img-circle pin-top' %>
        Wun 'The Master' Yin
        <span class='block small quiet'>
          10 wins - 5 losses
        </span>
      </div>
    </div>
  </div>
</div>