<%= form_for(@match) do |f| %>
<h2 class='pad2 fill-gray center quiet'>Who won?</h2>

<div class='box round fill-blue dark center'>
  <% @user = User.find(params[:user_id]) %> 
  <section class='pad4'>
    <div class='match-player active space-bottom'>
      <%= image_tag 'bill.jpg', alt: current_user.full_name, class: 'img-circle space-bottom0', width: 85 %>
      <p class='quiet'>
        <%= current_user.first_name %> <%= current_user.last_name %>
      </p>
      <%= f.radio_button(:winner_id, current_user.id) %>
    </div>

    <h1 class='fancy space-bottom'>VS</h1>

    <div class='match-player'>
      <%= image_tag 'bill.jpg', alt: current_user.full_name, class: 'img-circle space-bottom0', width: 85 %>
      <p class='quiet'>
        <%= @user.full_name %>
      </p>
      <%= f.radio_button(:winner_id, @user.id) %>
    </div>
  </section>

</div>

<div class='fill-gray pad2y pad4x clearfix'>
  <%= f.hidden_field(:user_id, value: @user.id) %>
  <%= f.submit 'Record Match', class: 'btn btn-block btn-primary' %>
</div>
<% end %>
