<div class='box round contain fill-white pad2 center space-bottom clearfix'>
  <h2 class='space-bottom'>Who won?</h2>
  <%= form_for(@match) do |f| %>
    <%= render 'shared/error_messages', object: @match %>
    <div class='clearfix space-bottom4'>
      <div class='col-xs-6 pad4y match-player slideRight'>
        <label>
          <%= f.radio_button :winner_id, current_user.id, class: 'hidden' %>
          <%= image_tag current_user.avatar_url, class: 'img-circle space-bottom1', width: 85 %>
        </label>
        <h4><%= current_user.name %></h4>
        <small class='quiet block space-bottom1'><%= current_user.nickname %></small>
      </div>
      <div class='col-xs-6 pad4y opponent match-player slideLeft'>
        <div class='versus'>vs</div>
        <label>
          <%= f.radio_button :winner_id, @opponent.id, class: 'hidden' %>
          <%= image_tag @opponent.avatar_url, class: 'img-circle space-bottom1', width: 85 %>
        </label>
        <a href='#fakelink'>
        </a>
        <h4><%= @opponent.name %></h4>
        <small class='quiet block space-bottom1'><%= @opponent.nickname %></small>
      </div>
    </div>
    
    <%= f.hidden_field(:opponent_id, value: @opponent.id) %>
    <%= f.submit 'Record match', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
<script>
  
</script>