<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Paddle</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <%= stylesheet_link_tag '/framework/css/cb-design-framework', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class='fill-light'>
  <%= render 'layouts/header' %>
  <div id='wrap' class='container-fluid contain pad4y'>
    <div class='box round fill-white prose'>
      <% flash.each do |type, msg| %>
        <%= alert_tag(type, msg) %>
      <% end %>    
      <%= yield %>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>
  <%= javascript_include_tag '/framework/js/cb-design-framework.min' %>
</body>
</html>